@CHARSET "UTF-8";

body,td,th{font:12px Helvetica,Arial,sans-serif;line-height:1.62}
body{padding-top:0px}
.section{padding:10px 0;margin-bottom:30px;min-height:200px}
.section .main{overflow:hidden;zoom:1}
.section .sidenav{float:left;width:100px;margin-right:20px}
.section .side{float:right;width:265px;margin-left:30px}
.section .extra{width:950px;margin:0 auto 0}
.section .extra iframe{margin-top:20px!important}
.section .wrapper{zoom:1}
.section .wrapper:before,.section .wrapper:after{content:"\0020";display:block;clear:both}
.section-bg{padding:40px 0 20px;background:#f7f7f7}
.section:nth-child(2n){padding:40px 0 20px;background:#f7f7f7}
.mod{margin-bottom:30px}
.wrapper{width:950px;margin:0 auto}

a{cursor:pointer}
a:link{color:#37a;text-decoration:none}
a:visited{color:#669;text-decoration:none}
a:hover{color:#fff;text-decoration:none;background:#37a}
a:active{color:#fff;text-decoration:none;background:#f93}
a img{border-width:0;vertical-align:middle}
a.processing:hover,a.processing:active{background-color:#666;color:#fff}




#title-bar{margin-bottom:25px;background:#ECF1F4}
#title-bar .wrapper{padding:10px 0 10px;overflow:hidden;zoom:1}

#title-bar .logo{float:left;text-align:right;margin-bottom: 10px}

#title-bar .search{float:left;text-align:right; margin-left:10px;}

#search-bar-board {
    color: rgb(34, 34, 34);
    height: 45px;
    float: left;
    overflow-wrap: break-word;
    position: relative;
    text-decoration: none solid rgb(34, 34, 34);
    width: 300px;
    word-wrap: break-word;
    border: 0px none rgb(34, 34, 34);
    font: normal normal normal 13px/22px 'Helvetica Neue', Helvetica, Arial, sans-serif;
   
    outline: rgb(34, 34, 34) none 0px;
}/*#search-bar-board*/

#search-bar-board:after {
    clear: both;
    color: rgb(34, 34, 34);
    display: table;
    overflow-wrap: break-word;
    text-decoration: none solid rgb(34, 34, 34);
    width: 1px;
    word-wrap: break-word;
    content: '';
    border: 0px none rgb(34, 34, 34);
    font: normal normal normal 13px/22px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(34, 34, 34) none 0px;
}/*#search-bar-board:after*/

#search-bar-board:before {
    color: rgb(34, 34, 34);
    display: table;
    overflow-wrap: break-word;
    text-decoration: none solid rgb(34, 34, 34);
    width: 1px;
    word-wrap: break-word;
    content: '';
    border: 0px none rgb(34, 34, 34);
    font: normal normal normal 13px/22px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(34, 34, 34) none 0px;
}/*#search-bar-board:before*/




#search-bar {
    color: rgb(34, 34, 34);
    float: left;
    height: 32px;
    overflow-wrap: break-word;
    position: relative;
    text-decoration: none solid rgb(34, 34, 34);
    width: 340px;
    word-wrap: break-word;
    border: 0px none rgb(34, 34, 34);
    font: normal normal normal 13px/22px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 7px 0px 0px 12px;
    outline: rgb(34, 34, 34) none 0px;
}/*#search-bar*/

#search-form {
    color: rgb(34, 34, 34);
    float: left;
    height: 30px;
    overflow-wrap: break-word;
    position: relative;
    text-decoration: none solid rgb(34, 34, 34);
    width: 250px;
    word-wrap: break-word;
    border: 0px none rgb(34, 34, 34);
    font: normal normal normal 13px/30px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0px;
    outline: rgb(34, 34, 34) none 0px;
}/*#search-form*/

#search-text {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px inset, rgba(255, 255, 255, 0.0980392) 0px 1px 0px 0px;
    box-sizing: content-box;
    color: rgb(73, 82, 92);
    height: 16px;
    overflow-wrap: break-word;
    text-decoration: none solid rgb(73, 82, 92);
    width: 230px;
    word-wrap: break-word;
    background: rgb(225, 234, 242) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgb(4, 91, 179);
    border-radius: 4px 4px 4px 4px;
    font: normal normal normal 14px/17px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0px;
    outline: rgb(73, 82, 92) none 0px;
    overflow: hidden;
    padding: 7px 10px;
    transition: all 0.2s ease-in-out 0s;
}/*#search-text*/

#search-buttom {
    background-position: 0px 50%;
    color: rgb(34, 34, 34);
    cursor: pointer;
    display: block;
    height: 32px;
    min-height: 0px;
    overflow-wrap: break-word;
    position: absolute;
    right: 0px;
    text-decoration: none solid rgb(34, 34, 34);
    top: 0px;
    width: 30px;
    word-wrap: break-word;
    background: rgba(0, 0, 0, 0) none repeat scroll 0px 50% / auto padding-box border-box;
    border: 0px none rgb(34, 34, 34);
    font: normal normal normal 13px/22px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0px;
    outline: rgb(34, 34, 34) none 0px;
    padding: 0px;
}/*#search-buttom*/

#search-buttom-glass {
    background-position: -239px -60px;
    color: rgb(34, 34, 34);
    cursor: pointer;
    display: inline-block;
    height: 15px;
    overflow-wrap: break-word;
    text-align: center;
    text-decoration: none solid rgb(34, 34, 34);
    vertical-align: -4px;
    width: 13px;
    word-wrap: break-word;
    align-self: flex-start;
    background: rgba(0, 0, 0, 0) url(http://static.zhihu.com/static/img/sprites-1.8.9.png) no-repeat scroll -239px -60px / auto padding-box border-box;
    border: 0px none rgb(34, 34, 34);
    font: italic normal normal 13px/22px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(34, 34, 34) none 0px;
}/*#search-buttom-glass*/



#function-item {
    color: rgb(17, 17, 17);
    float: left;
    height: 24px;
    text-decoration: none solid rgb(17, 17, 17);
    width: 360px;
    border: 0px none rgb(17, 17, 17);
    font: normal normal normal 12px/19px Helvetica, Arial, sans-serif;
    margin-left:20px;margin-top:4px;
    outline: rgb(17, 17, 17) none 0px;
}/*#function-item*/

#function-list {
    color: rgb(17, 17, 17);
    height: 24px;
    text-decoration: none solid rgb(17, 17, 17);
    float: left;
    border: 0px none rgb(17, 17, 17);
    font: normal normal normal 12px/19px Helvetica, Arial, sans-serif;
    list-style: none outside none;
    margin: 10px;
    outline: rgb(17, 17, 17) none 0px;
    padding: 0px;
}/*#function-list*/

#items {
    color: rgb(17, 17, 17);
    display: inline;
    height: auto;
    text-decoration: none solid rgb(17, 17, 17);
    width: auto;
    border: 0px none rgb(17, 17, 17);
    font: normal normal normal 15px/24px Helvetica, Arial, sans-serif;
    list-style: none outside none;
    margin: 0px 30px 0px 0px;
    outline: rgb(17, 17, 17) none 0px;
}/*#items*/

#item-text {
    color: rgb(0, 119, 34);
    cursor: pointer;
    text-align: left;
    text-decoration: none solid rgb(0, 119, 34);
    border: 0px none rgb(0, 119, 34);
    font: normal normal normal 16px/24px Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(0, 119, 34) none 0px;
}/*#item-text*/
#item-text:HOVER {
    color: rgb(255, 255, 255);
    background:rgb(0, 119, 34);
}/*#item-text*/





#title-bar-text{float: right;text-align:right; margin-left:10px; margin-top: 10px}
#title-bar-text{display:inline-block;*display:inline;zoom:1;color:#666;vertical-align:bottom}
#title-bar-text b {font-size:14px;line-height:2;font-weight:normal; border: medium;}






#title-bar .login{float:right;text-align:right;font-size:0;letter-spacing:-0.31em;*letter-spacing:normal;*word-spacing:-0.43em}
#title-bar .login legend{display:none}
#title-bar .login fieldset{*display:inline;margin:0;padding:0;border:0}
#title-bar .login .label{position:absolute;z-index:1;top:7px;left:8px;color:#ccc;font-size:13px;cursor:text}
#title-bar .login .item{position:relative;margin-right:4px}
#title-bar .login .item .opt{font-size:12px}
#title-bar .login .item,#title-bar .login .item-submit{display:inline-block;*display:inline;zoom:1;vertical-align:top;text-align:left;font-size:0;letter-spacing:normal;word-spacing:normal}
#title-bar .login .item .inp{border:0;width:142px;margin-bottom:5px;margin-right:0;padding:0 8px;height:33px;font-size:13px;*position:relative;*top:-2px;*padding-top:8px;*height:25px}
#title-bar .login .guest-submit{-webkit-appearance:none;padding:0 22px;height:33px;font-size:13px;border:0;border-radius:2px;cursor:pointer;background:#FCC259;color:#fff}
#title-bar .login .guest-submit:hover{background-color:#F37F00}
#title-bar .login .login-submit{-webkit-appearance:none;padding:0 24px;height:33px;font-size:13px;border:0;border-radius:2px;cursor:pointer;background:#19B544;color:#fff}
#title-bar .login .login-submit:hover{background-color:#1c9439}
#title-bar .login .item-captcha img{width:158px;height:28px}


#title-bar .register-buttom{display:inline-block;*display:inline;zoom:1;padding:7px 18px;vertical-align:top;margin-right:15px;border-radius:2px}
#title-bar .register-buttom:link,#title-bar .register-buttom:visited,#title-bar .register-buttom:hover,#title-bar .register-buttom:active{font-size:14px;color:#fff;background:#ef7360}
#title-bar .register-buttom:hover,#title-bar .register-buttom:active{font-size:14px;color:#fff;background:#B81517}
#title-bar .register-buttom i{font-size:12px}


#title-bar .ad-info{display:inline-block;*display:inline;zoom:1;color:#666;vertical-align:bottom}
#title-bar .ad-info b{font-size:16px;line-height:2;font-weight:normal}

#ft{overflow:hidden;zoom:1;padding:14px 0;margin-top:30px;border-top:1px dashed #dcdcdc;color:#999}
.fleft{float:left}
.fright{float:right}